input{
    color: blue;
    
    align-items: flex-end;
}
#id::placeholder{
    color: red;
}
button{
    margin: 5px 0px;

   
    background-color: royalblue;
    color: rgb(179, 178, 196);
    cursor: pointer;
   
}
button:hover{
    background-color: rgb(207, 207, 207);
}
button:active{
    border: 1px solid coral;
}
.div-form{
   justify-content: center;
   width: 50%;
   margin: 100px auto;
   box-shadow: 1px red ;
}
form {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(134, 190, 255);

}